---
import { site } from "../data/site";
const a = site.author;
---

<article class="term card-author">
    <header class="card-author--header">
        <div class="card-author--spec">
            <h3 style={`--length: ${a.firstname.length}ch;`}>
                {a.firstname}
                {a.lastname}
            </h3>
            <ul aria-hidden="true">
                <li style="color: hsl(var(--accent));">
                    {"".padEnd(a.lastname.length + a.firstname.length + 3, "-")}
                </li>
                <li>
                    <strong>OS:</strong>
                    {` ${a.os}`}
                </li>
                <li>
                    <strong>E-Mail:</strong> mail@bauer-jakob.de
                </li>
            </ul>
            <ul>
                {
                    a.socials.map((s) => (
                        <li>
                            <strong>{s.name}: </strong>
                            <a
                                href={s.link}
                                rel="nofollow noreferrer"
                                target="_blank"
                            >
                                {s.link}
                            </a>
                        </li>
                    ))
                }
                <li aria-hidden="true" class="tilted">~</li>
            </ul>
        </div>
    </header>
    <p class="card-author--content">{a.bio}</p>
</article>

<style lang="scss">
    .card-author {
        padding: 1em;
        max-width: 30rem;
        min-width: 15rem;
        overflow: hidden;
        border-radius: 0.5em;
        text-align: start;
        margin: 0 auto;
        font-weight: 700;

        &--header {
            margin: 0 1rem;
            h3,
            strong {
                color: hsl(var(--accent-2));
            }
            strong {
                font-family: "HackBold";
            }
            .tilted {
                color: hsl(var(--accent));
            }
        }

        &--content {
            margin: 0 1rem;
            margin-top: 0.5rem;
        }
    }

    /////
    ///

    .term {
        position: relative;
        background-color: hsl(231.4, 14.9%, 18.4%);
        padding-block-start: 1.6rem;
        &::before {
            content: "";
            position: absolute;
            height: 1.3rem;
            left: 0;
            top: 0;
            width: 100%;
            background-color: hsl(221.7, 16.3%, 27.6%, 0.3);
        }

        &::after {
            content: "";
            width: 2.1rem;
            position: absolute;
            height: 0.6rem;
            right: 6px;
            top: 6px;
            background: radial-gradient(
                        farthest-side,
                        hsl(var(--red)) 100%,
                        transparent
                    )
                    top right / 0.6rem,
                0.6rem,
                radial-gradient(
                        farthest-side,
                        hsl(var(--green)) 100%,
                        transparent
                    )
                    center/ 0.6rem,
                0.6rem,
                radial-gradient(
                        farthest-side,
                        hsl(var(--yellow)) 100%,
                        transparent
                    )
                    left / 0.6rem,
                0.6rem;

            background-repeat: no-repeat;
        }
    }

    .term {
        position: relative;
        background-color: hsl(var(--base-darker));
        &::before,
        &::after {
            position: absolute;
            content: "";

            display: block;
        }

        &::before {
            top: 0;
            left: 0;
            width: 100%;
            background-color: hsl(var(--base-lighter));
            width: 100%;
            height: 1.1rem;
            opacity: 0.3;
        }

        &::after {
            top: 0.3rem;
            width: 2.6rem;
            left: 0.6rem;
            background: radial-gradient(
                        farthest-side,
                        hsl(var(--green)) 100%,
                        transparent
                    )
                    top right/0.6rem,
                radial-gradient(
                        farthest-side,
                        hsl(var(--yellow)) 100%,
                        transparent
                    )
                    top center/0.6rem,
                radial-gradient(
                        farthest-side,
                        hsl(var(--red)) 100%,
                        transparent
                    )
                    top left/0.6rem;
            background-repeat: no-repeat;
            height: 0.6rem;
        }
    }
</style>
